<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.forcetech">
    <application>

        <service
            android:name="com.gsoft.mitv.MainActivity"
            android:exported="false"
            android:process=":mitv" />
        <service
            android:name="com.gsoft.mitv.P2PService"
            android:exported="false"
            android:process=":P2P" />
        <service
            android:name="com.gsoft.mitv.P9PService"
            android:exported="false"
            android:process=":P9P" />

    </application>
</manifest>