body,
html {
    height: 100%;
    -webkit-tap-highlight-color: transparent;
}

body {
    font-family: system-ui, -apple-system, Helvetica Neue, sans-serif;
}

.page,
body {
    background-color: var(--weui-BG-0);
}

.page {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    box-sizing: border-box;
    z-index: 1;
}

#store_container {
    background: #10aeff;
    border-radius: 10px;
    flex-direction: column;
    width: 100%;
    margin: 0 20px;
    padding: 12px;
    font-size: 12px;
}

.weui-form__title2 {
    color: darkgray;
    font-size: 16px;
    margin-top: 10px;
    font-style: italic;
    text-align: center;
}

#diy_store_name, #diy_store_url {
    padding: 12px 10px;
    height: 38px;
    border-width: 0;
    background: white;
    border-radius: 10px;
}

.weui-form__image {
    text-align: center;
    vertical-align: middle;
}

.tuiguang {
    width: 50%;
    margin-left: 30px;
}
